<!DOCTYPE html>
<html lang="en">
<head>
    <title>Rooms</title>
    <meta charset="UTF-8">
    <meta name="theme-color" content="#fff">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/message.css">
</head>
<body>
    <div class="rooms-container">
        <div class="room" id="roomAdder" onclick="createNewRoom()">
            <div>create new</div>
        </div>
    </div>
</body>
<script src="/js/request.js"></script>
<script src="/js/message.js"></script>
<script src="/js/room.js"></script>
<script src="/js/main.js"></script>
</html>